
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: arial;
}

html,
body,
canvas {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

html canvas {
	width: calc(100% - 320px);
}

#files {
	position: fixed;
	padding: 5px;
	width: 300px;
	max-width: 50%;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background-color: darkGrey;
	overflow-y: auto;
	overflow-x: none;
	cursor: pointer;
}

#files li:hover {
	background-color: grey;
}